body {
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2f0039;
  color: #fe2a97;
}
body .block {
  margin-top: 5%;
}
body .block .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .block .container p {
  font-size: 72px;
  text-shadow: 1px 1px 2px #333;
  margin: 0 15px;
}
body .block .container button {
  border: 1px solid #fe2a97;
  background: transparent;
  color: #fe2a97;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
}
body .block .container button:hover {
  border: 1px solid #00ce5d;
  color: #00ce5d;
}
